    <!-- Top Menu -->
<div class="top-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-5">
                <ul>
                    <li><a href=""><i class="fa fa-home"></i></a></li>
                    <li><a href=""><i class="fa fa-question-circle"></i></a></li>
                    <li><a href=""><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-7">
                <span>امروز : 18/08/1395</span>
            </div>
        </div>
    </div>
</div>
<!-- End Top Menu -->
<!-- header -->
<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="" class="logo"><img src="/siteTemplate/img/logo.png" alt="" title=""></a>
                <div class="left-side">
                    <h1><a href="">سایت مدیریت کتابخانه</a></h1>
                    <h2> پایگاه اطلاع رسانی و مدیریت کتابخانه</h2>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form action="" method="get" class="border-radius">
                    <input class="border-radius" type="text" placeholder=" جستجو کنید ... ">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->
<!-- menu -->
<nav class="main-menu">
    <div class="container">
        <span><i class="fa fa-th-list"></i></span>
        <ul>
            <li><a href=""> صفحه اصلی </a></li>
            <li><a href=""> ثبت نام </a></li>
            <li><a href=""> ورود به سایت </a></li>
        </ul>
    </div>
</nav>
<!-- End menu -->