<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> مدیریت کتابخانه - @ViewData["Title"] </title>
    <partial name="_MetaTagsPartial" />
    <partial name="_HeaderRefrencesPartial" />

</head>
<body>
    <partial name="_HeaderPartial" />

    <div class="container margin-top-30">
        <div class="row">

            <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">

                <section class="category-section border-radius">
                    <header><i class="fa fa-folder-open-o"></i> <h3> آخرین افراد ثبت نام شده </h3></header>
                    <ul>
                        <li> علیرضا حاجیانی  </li>
                        <li> عباس حاجیانی  </li>
                        <li> غلامرضا جمالی  </li>
                        <li> احمد بازویی مجرد  </li>
                    </ul>
                </section>
                <!-- most views news -->
                <section class="last-news-side border-radius">
                    <header><i class="icons icon-star"></i> <h3> آخرین اخبار و اطلاعیه ها </h3></header>
                    <ul>
                        <li>
                            <img class="border-radius" src="/siteTemplate/img/thumb.png">
                            <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                            <span>انتشار : 15/08/1395</span>
                        </li>
                        <li>
                            <img class="border-radius" src="/siteTemplate/img/thumb.png">
                            <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                            <span>انتشار : 15/08/1395</span>
                        </li>
                        <li>
                            <img class="border-radius" src="/siteTemplate/img/thumb.png">
                            <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                            <span>انتشار : 15/08/1395</span>
                        </li>
                        <li>
                            <img class="border-radius" src="/siteTemplate/img/thumb.png">
                            <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                            <span>انتشار : 15/08/1395</span>
                        </li>
                    </ul>
                </section>
                <!-- end most views news -->
            </aside>


            <div class="col-md-8 col-sm-12 col-xs-12 ">

                @RenderBody()

            </div>

        </div>
    </div>

    <!-- footer ---------------------------------->
    @await Component.InvokeAsync( "SiteFooter" )
    <!-- footer ---------------------------------->

    <partial name="_FooterRefrencesPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
